<launch>
  <arg
      name="model" />
  <arg name="robot_description" value="robot_description_with_hand" />
  <param
      name="$(arg robot_description)"
      textfile="$(find aero_description)/typeJSK_hand/robots/aero.urdf" />

  <node
      name="robot_state_publisher"
      pkg="robot_state_publisher"
      type="robot_state_publisher"
      clear_params="true">
    <remap from="joint_states" to="joint_states_with_hand"/>
    <remap from="robot_description" to="$(arg robot_description)"/>
  </node>

  <node name="serial_node_esp32" pkg="rosserial_python"
        type="serial_node.py" args="_port:=/dev/rfcomm0"
        output="screen" respawn="true">
  </node>

  <node pkg="soft_exterior_hand" type="marker_publisher.py"
        name="marker_publisher" />
  
  <node pkg="soft_exterior_hand" type="servo_states_to_joint_states.py"
        name="servo_states_to_joint_states" output="screen">
  </node>

  <node
      name="rviz"
      pkg="rviz"
      type="rviz"
      args="-d $(find soft_exterior_hand)/config/hand.rviz" />

</launch>
